<!-- <div class="header">
  <mat-icon
    routerLink="/home"
    style="height: 200px; width: 200px; position: relative"
  ></mat-icon>
</div>

<div class="container">
  <div class="content">
    <mat-card
      style="
        height: 550px;
        display: flex;
        justify-content: flex-start;
        border-top: 4px solid red;
        padding: 3rem;
        padding-bottom: 1em;
        padding-top: 5em;
      "
      class="form-container mat-elevation-z5"
    >
      <div
        class="mat-display-table"
        style="display: flex; justify-content: center"
      >
        <div
          class="mat-display-table-cell"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
          "
        >
          <div
            class="auth-block"
            style="display: flex; flex-direction: column; align-items: center"
          >
            <h3>Resetare parola</h3>
            <p class="text-center">Te rog să introduci adresa de email.</p>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email Address"
                  #passwordResetEmail
                  required
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <button
                mat-raised-button
                style="background-color: #dc0028; color: white"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              >
                Resetează parola
              </button>
            </div>
          </div>
          <div class="redirect-to-login">
            <span
              >Vrei să te întorci ?
              <span class="redirect" routerLink="/login">Log In</span></span
            >
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div> -->

<section class="h-screen justify-center items-center">
  <div class="overflow-hidden">
    <div
      class="absolute inset-0 w-full h-full bg-gradient-to-r from-customBlue-400 to-customBlue-400 opacity-90"
    ></div>
  </div>
  <div class="table w-full h-full">
    <div class="table-cell align-middle">
      <div class="container">
        <div class="lg:flex justify-center">
          <div class="relative">
            <div
              class="card bg-white dark:bg-zinc-800 dark:border-zinc-700/50 w-[400px] items-center"
            >
              <div class="p-7">
                <div class="text-center mt-3">
                  <h3 class="font-bold mb-2">
                    <a
                      routerLink="/login"
                      class="text-black dark:text-white uppercase tracking-widest font-bold text-2xl"
                      >InternApp</a
                    >
                  </h3>
                  <p class="text-gray-400 text-gray-300/60 mb-4">
                    Reset Password
                  </p>
                </div>
                <div
                  class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded border border-yellow-200 text-center"
                  role="alert"
                >
                  Enter your email address and we'll send you an email with
                  instructions to reset your password.
                </div>

                <form>
                  <div class="mb-6">
                    <label
                      for="email"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Email</label
                    >
                    <input
                      type="email"
                      name="email"
                      id="email"
                      #passwordResetEmail
                      required
                      class="border border-gray-300 text-gray-900 text-sm rounded focus:ring-0 focus:border-gray-400 block w-full p-3 dark:bg-zinc-700/30 dark:border-zinc-700/50 dark:text-gray-300/60 dark:placeholder:text-gray-300/60"
                      placeholder="Enter your username"
                    />
                  </div>

                  <button
                    (click)="
                      authService.ForgotPassword(passwordResetEmail.value)
                    "
                    class="btn bg-customOrange-400 text-white w-full h-[40px]"
                  >
                    Reset your Password
                  </button>
                </form>

                <div class="mt-4 text-center">
                  <p class="text-gray-800 dark:text-white/60">
                    Remember It ?<a
                      routerLink="/login"
                      class="text-customOrange-400"
                    >
                      Login</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
