<div *ngIf="isAdmin() == true" class="flex flex-col">
  <div class="flex flex-row justify-center gap-10">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        [(ngModel)]="startDate"
        (dateChange)="onDateChange($event, 'start')"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        [(ngModel)]="endDate"
        (dateChange)="onDateChange($event, 'end')"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="flex gap-10">
    <button
      routerLink="/register"
      class="mt-2 p-2 bg-blue-500 text-white rounded font-extrabold"
    >
      Create account
    </button>
    <button
      routerLink="/users"
      class="mt-2 p-2 bg-blue-500 text-white rounded font-extrabold"
    >
      Show users
    </button>
  </div>
</div>

<div *ngIf="months.length > 0">
  <div class="flex flex-row justify-center gap-20">
    <button
      class="mt-2 p-2 bg-blue-500 text-white rounded font-extrabold"
      (click)="goToPreviousMonth(startDate)"
    >
      Prev
    </button>
    <button
      class="mt-2 p-2 bg-blue-500 text-white rounded font-extrabold"
      (click)="goToNextMonth(endDate)"
    >
      Next
    </button>
    <button
      class="mt-2 p-2 bg-blue-500 text-white rounded font-extrabold"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
  <div *ngFor="let month of months">
    <div
      *ngIf="month.month === currentViewMonth && month.year === currentViewYear"
    >
      <h2>{{ month.year }}-{{ month.month + 1 }}</h2>
      <div class="flex flex-row justify-around gap-2 border-2">
        <div class="text-center font-bold text-2xl">Su</div>
        <div class="text-center font-bold text-2xl">Mo</div>
        <div class="text-center font-bold text-2xl">Tu</div>
        <div class="text-center font-bold text-2xl">We</div>
        <div class="text-center font-bold text-2xl">Th</div>
        <div class="text-center font-bold text-2xl">Fr</div>
        <div class="text-center font-bold text-2xl">Sa</div>
      </div>
      <div class="grid grid-cols-7">
        <div
          *ngFor="let day of month.days"
          class="p-2 text-center hover:bg-blue-100 rounded border-2"
        >
          <button
            (click)="selectDay(day, month)"
            *ngIf="day !== 0; else emptyCell"
            class="w-[100px] h-[100px] font-bold"
          >
            {{ day }}
            <div *ngIf="events[day]">
              <div *ngFor="let event of events[day]">
                <div *ngIf="event.month == currentViewMonth + 1">
                  {{ event.text }}
                </div>
              </div>
            </div>
          </button>
          <ng-template #emptyCell
            ><div class="w-[100px] h-[100px]"></div
          ></ng-template>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="selectedDay && isAdmin"
    class="p-4 bg-gray-100 rounded flex items-center justify-center flex-col"
  >
    <h3 class="text-lg font-semibold">
      Adaugă eveniment la data: {{ currentViewYear }}-{{
        currentViewMonth + 1
      }}-{{ selectedDay }}
    </h3>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Titlul evenimentului</mat-label>
        <mat-select [(ngModel)]="eventTitle" name="titlul">
          <mat-option value="Meet">Meet</mat-option>
          <mat-option value="Training">Training</mat-option>
          <mat-option value="Remote">Remote</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex justify-around py-10 gap-3">
        <button
          type="button"
          class="mt-2 p-2 bg-blue-500 text-white rounded"
          (click)="addEvent(eventTitle)"
        >
          Adaugă Eveniment
        </button>
        <button
          class="mt-2 p-2 bg-blue-500 text-white rounded font-extrabold min-w-[100px]"
          (click)="closeForm()"
        >
          &times;
        </button>
      </div>
    </form>
  </div>
</div>
