<section class="relative md:py-24 py-16" id="courses">
  <div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
      <div class="text-customOrange-400 text-base font-medium uppercase mb-2">
        Courses
      </div>
      <div class="mb-4 md:text-2xl text-xl font-medium dark:text-white">
        We offer you the following courses
      </div>

      <div class="text-slate-400 dark:text-slate-300 max-w-xl mx-auto">
        Choose the course that interests you
      </div>
    </div>
    <button
      class="btn bg-customOrange-400 mt-8 rounded text-white"
      *ngIf="isAdmin"
      (click)="openForm()"
    >
      Add Course
    </button>
    <!--end grid-->

    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-6 mt-20">
      <div
        *ngFor="let course of courses"
        class="flex flex-col justify-start relative rounded-md shadow shadow-slate-200 bg-gray-50 hover:ease-in-out hover:mt-[-20px]"
      >
        <div class="content p-6 flex flex-col justify-end gap-2">
          <div
            (click)="navigateToCourse(course.id)"
            class="text-lg text-customOrange-400 transition-all duration-500 ease-in-out font-medium cursor-pointer"
          >
            {{ course.title }}
          </div>
          <div class="text-slate-400 mt-3">{{ course.description }}</div>

          <!-- Progress Bar -->
          <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
            <div
              class="bg-customOrange-400 h-2.5 rounded-full mb-2"
              [style.width.%]="
                course.id != undefined ? userProgress[course.id] : 0
              "
            ></div>
            <span class="text-customBlue-400 font-bold">
              {{
                (course.id != undefined ? userProgress[course.id] : 0)
                  | number : "1.0-1"
              }}%
            </span>
          </div>

          <div class="mt-5 flex gap-4">
            <button
              *ngIf="isAdmin"
              class="bg-customBlue-400 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="confirmDelete(course)"
            >
              Delete
            </button>
            <button
              *ngIf="isAdmin"
              class="bg-customOrange-400 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
              (click)="openForm(course)"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->

  <div
    *ngIf="showForm"
    class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center"
  >
    <div class="bg-white p-8 rounded-lg shadow-lg w-[400px] h-[400px] relative">
      <div
        *ngIf="isLoading"
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-75"
      >
        <mat-spinner color="primary" diameter="100"></mat-spinner>
      </div>
      <h2 class="text-xl mb-4">
        {{ isEditMode ? "Edit Course" : "Add New Course" }}
      </h2>
      <form (ngSubmit)="addCourse()">
        <div class="mb-4">
          <label class="block text-gray-700">Title</label>
          <input
            type="text"
            [(ngModel)]="newCourse.title"
            name="title"
            class="form-input"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Description</label>
          <textarea
            [(ngModel)]="newCourse.description"
            name="description"
            class="form-input"
            required
          ></textarea>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Videos</label>
          <input
            type="file"
            (change)="onFilesSelected($event)"
            name="videos"
            class="form-input"
            accept="video/*"
            multiple
          />
        </div>
        <div class="flex justify-end">
          <button
            type="button"
            class="btn btn-secondary mr-2"
            (click)="closeForm()"
          >
            Cancel
          </button>
          <button type="submit" class="btn text-white bg-customOrange-400">
            {{ isEditMode ? "Edit Course" : "Add Course" }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div
    *ngIf="showDeleteConfirmation"
    class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center"
  >
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <h2 class="text-xl mb-4">Are you sure you want to delete this course?</h2>
      <div class="flex justify-end">
        <button
          type="button"
          class="btn btn-secondary mr-2"
          (click)="cancelDelete()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteCourse()">
          Yes
        </button>
      </div>
    </div>
  </div>
</section>
