/*********************************/
/*             General           */
/*===============================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #0f172a; /* slate-900 */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.625; /* or adjust according to your needs */
}
